.carrosel{
    position: relative;
    width: 200px;
    height: 200px;
}
.perfil{
position:absolute;
width: 100%;
height: 100%;
transform-style: preserve-3d;
transition: all 0.5s ease;
}
.carrosel:hover .perfil{
    transform:rotateY(180deg);
    cursor: pointer;
}
.frente{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:90%;
    backface-visibility:hidden;
    background:  rgb(247, 1, 145);
    color:rgb(1, 173, 247);
    box-shadow:  rgb(1, 173, 247) 0px 0px 10px 5px;
}
.traz{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:90%;
    backface-visibility:hidden;
    background:  rgb(1, 173, 247);
    color: rgb(247, 1, 145);
    box-shadow:  rgb(247, 1, 145) 0px 0px 10px 5px;
    transform:rotateY(180deg);
}